<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AlmaAutoSensitize.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="AlmaAutoSensitize.AlmaAutoSensitize" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <AlmaAutoSensitize.Properties.Settings>
            <setting name="Debug" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ListenPort" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="COMPort" serializeAs="String">
                <value>COM8</value>
            </setting>
            <setting name="AllowOriginRegex" serializeAs="String">
                <value>alma\.exlibrisgroup\.com$</value>
            </setting>
            <setting name="CmdResens" serializeAs="String">
                <value>RRR</value>
            </setting>
            <setting name="CmdDesens" serializeAs="String">
                <value>DDD</value>
            </setting>
            <setting name="UseSensitizer" serializeAs="String">
                <value>Serial</value>
            </setting>
            <setting name="ShowTooltips" serializeAs="String">
                <value>True</value>
            </setting>
        </AlmaAutoSensitize.Properties.Settings>
    </applicationSettings>
</configuration>